body {
  background-color: lightblue;
}

div {
  margin-top: 35px;
  text-align: center;
  color: white;
}

p {
  font-size: 10em;
}

button {
  width: 50vh;
  height: 20vh;
  font-size: 10em;
  color: white;
  text-align: center;
  background-color: red;
  border-width: 8px;
}
